<!-- Modalボディ部分 -->
<div class="modal-body">
  <div class="container-fluid bd-example-row">
    <!-- render用div -->
    <div id="NewItem"></div>
    <%# adminをnamespase化している為model: [ :admin, @item ]として指定 %>
      <%= form_with model: [ :admin, @item ] do |form| %>
      <% if item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(item.errors.count, "error") %>
            prohibited this item from being saved:</h2>

          <ul>
            <% item.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-row">
        <div class="form-group col-md-6">
          <%= form.label :item_name, "商品名" %>
          <%= form.text_field :item_name, class: "form-control", placeholder: "日本人形" %>
          <%= form.label :post_images_images, "商品画像" %>
          <%= form.attachment_field :post_images_images, multiple: true, class: "form-control-file" %>
          <%= form.label :item_price, "金額" %>
          <%= form.number_field :item_price, class: "form-control", placeholder: "税抜きカンマ不要" %>
          <label for="itemcount">在庫数</label>
          <input type="text" class="form-control" id="itemcount" placeholder="半角">
        </div>
        <div class="form-group col-md-6">
          <div class="preview"></div>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :item_description, "商品説明" %>
        <%= form.text_area :item_description, class: "form-control", rows: "3" %>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="tag">タグ選択</label>
          <select id="tag" class="form-control">
            <option selected="selected">Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="newtag">タグ入力</label>
          <input type="text" class="form-control" id="newtag">
        </div>
        <div class="form-group col-md-2 d-flex align-items-end">
          <button type="button" class="btn btn-link">タグ追加</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modalボディ部分終了 -->
  <!-- Modalフッター部分 -->
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">登録</button>
  </div>
<% end %>
<script type="text/javascript">
  $(function () {
    //画像ファイルプレビュー表示のイベント追加 fileを選択時に発火するイベントを登録
    $('form').on('change', 'input[type="file"]', function (e) {
      var file = e.target.files[0],
        reader = new FileReader(),
        $preview = $(".preview");
      t = this;

      // 画像ファイル以外の場合は何もしない
      if (file.type.indexOf("image") < 0) {
        return false;
      }

      // ファイル読み込みが完了した際のイベント登録
      reader.onload = (function (file) {
        return function (e) {
          //既存のプレビューを削除
          $preview.empty();
          // .prevewの領域の中にロードした画像を表示するimageタグを追加
          $preview.append($('<img>').attr({src: e.target.result, width: "100%", class: "preview", title: file.name}));
        };
      })(file);

      reader.readAsDataURL(file);
    });
  });
</script>
