<!-- 繰り返し開始 -->
<% if items.present? %>
  <% items.each do |item| %>
    <% if item.present? %>
      <tr id=<%= "item#{item.id}" %>>
        <th scope="row">
          <%= link_to edit_admin_item_path(item), remote: true, class: "table-innercustom-a area-all" do %>
          <%= item.id %>
          <% end %>
        </th>
        <td>
          <%= link_to edit_admin_item_path(item), remote: true, class: "table-innercustom-a area-all" do %>
          <%= item.item_name %>
          <% end %>
        </td>
        <td>
          <%= link_to edit_admin_item_path(item), remote: true, class: "table-innercustom-a area-all" do %>
          <%= item.item_price %>
          <% end %>
        </td>

        <td>
          <%= link_to edit_admin_item_path(item), remote: true, class: "table-innercustom-a area-all" do %>
            <% if item.stock.present? %>
              <%= item.stock.stock_count %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to admin_item_path(item), remote: true, class: "btn btn-outline-light active table-innercustom-a" do %>
            <i class="fas fa-qrcode"></i>
          <% end %>
        </td>
        <td id=<%= "statuschange#{item.id}" %>>
        <% if item.stock.present? && item.stock.stock_count == 0 %>
          <%= link_to '在庫0', edit_admin_item_path(item), remote: true, class: "btn btn-outline-light active table-innercustom-a text-warning" %>
        <% else %>
          <% if item.item_active == 0 %>
            <%= link_to '未販売', admin_statuschange_path(item), remote: true, method: :put, class: "btn btn-outline-light active table-innercustom-a text-danger" %>
          <% else %>
            <%= link_to '販売中', admin_statuschange_path(item), remote: true, method: :put, class: "btn active btn-outline-light table-innercustom-a text-success" %>
          <% end %>
        <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
<% end %>
<!-- 繰り返し終了 -->
