<!--ダッシュボード全体container-fluid--->
<div class="container-fluid">
  <!--========================= ヘッダー ===================================--->
  <header class="row">
    <div class="col">
      <nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow">
        <%= link_to "AMAMIAGE", root_path, class: "navbar-brand col-sm-2 col-md-2 mr-0" %>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <%= link_to "Sign out", destroy_admin_session_path, class: "nav-link", method: :delete %>
            <!-- ログアウトをする -->
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <!--====================================================================--->

  <!--========================= 商品登録モーダル ==================================--->
  <!-- Modal部分 -->
  <div id="createItemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="NewItemLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <!-- Modalヘッダー部分 -->
        <div class="modal-header">
          <h5 class="modal-title" id="createItemModalLabel">商品登録</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
        </div>
        <!-- render用div -->
        <div id="NewItem"></div>
      </div>
      <!-- Modal部分終了3 -->
    </div>
    <!-- Modal部分終了2 -->
  </div>
  <!-- Modal部分終了1 -->
  <!--====================================================================--->

  <!--======================== 商品編集モーダル ==============================--->
  <!-- Modal部分 -->
  <div id="NewItemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="NewItemLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <!-- Modalヘッダー部分 -->
        <div class="modal-header">
          <h5 class="modal-title" id="NewItemLabel">商品編集</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
        </div>
        <!-- render用div -->
        <div id="EditItem"></div>
      </div>
      <!-- Modal部分終了3 -->
    </div>
    <!-- Modal部分終了2 -->
  </div>
  <!-- Modal部分終了1 -->
  <!--====================================================================--->

  <!--========================= 削除確認モーダル ============================--->
  <!-- Modal部分 -->
  <div id="delOKModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="NewItemLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- Modalヘッダー部分 -->
        <div class="modal-header">
          <h5 class="modal-title" id="NewItemLabel">商品を削除します</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
        </div>
        <!-- Modalボディ部分 -->
        <div class="modal-body">
          <p>削除したら元には戻せません。</p>
          <p>在庫情報も削除されます。</p>
        </div>
        <!-- Modalフッター部分 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <div id="DeleteItem"></div>
        </div>
      </div>
      <!-- Modal部分終了3 -->
    </div>
    <!-- Modal部分終了2 -->
  </div>
  <!-- Modal部分終了1 -->
  <!--====================================================================--->

  <!--========================= QRコード表示モーダル ==================================--->
  <!-- Modal部分 -->
  <div id="qrItemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="qrItemModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- render用div -->
        <div id="ShowItem"></div>
        <!-- Modalフッター部分 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- Modal部分終了3 -->
    </div>
    <!-- Modal部分終了2 -->
  </div>
  <!-- Modal部分終了1 -->
  <!--====================================================================--->

  <!-- ========================注文履歴表示モーダル========================= -->
  <!-- Modal部分 -->
  <div class="modal fade" id="purchaseHistoryModal" tabindex="-1" role="dialog" aria-labelledby="purchaseHistoryModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <!-- Modalヘッダー部分 -->
        <div class="modal-header">
          <h5 class="modal-title" id="purchaseHistoryModalTitle">注文内容</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- render用div -->
        <div id="ShowHistory"></div>
      </div>
      <!-- Modal部分終了3 -->
    </div>
    <!-- Modal部分終了2 -->
  </div>
  <!-- Modal部分終了1 -->
  <!-- ==================================================================== -->

  <!--=========================== ナビ部分 ==================================--->
  <nav class="row">
    <div class="col">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active col-3" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
          <i class="fas fa-briefcase"></i>
          商品</a>
        <a class="nav-item nav-link col-3" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
          <i class="fas fa-truck"></i>
          注文</a>
        <a class="nav-item nav-link col-3" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">
          <i class="fas fa-address-card"></i>
          顧客</a>
        <a class="nav-item nav-link col-3" id="nav-qr-tab" data-toggle="tab" href="#nav-qr" role="tab" aria-controls="nav-qr" aria-selected="false">
          <i class="fas fa-qrcode"></i>
          QR</a>
      </div>
    </div>
  </nav>
  <!--====================================================================--->

  <!--====================== ナビ配下ボディ部分全体 ============================--->
  <div class="tab-content" id="nav-tabContent">

    <!-- ========================商品一覧table============================= -->
    <!-- nav-home -->
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <!-- 商品一覧table -->
      <div class="row">
        <div class="col">
          <div class="table-responsive">
            <table class="table table-dark table-hover">
              <!-- 商品一覧ヘッダ -->
              <thead>
                <tr class="">
                  <th scope="col">#</th>
                  <th scope="col">名前</th>
                  <th scope="col">金額</th>
                  <th scope="col">在庫</th>
                  <th scope="col"></th>
                  <th scope="col">
                    <%= link_to '登録', new_admin_item_path, remote: true, class: "btn btn-outline-light active table-innercustom-a text-info", role: 'button' %>
                  </th>
                </tr>
              </thead>
              <tbody>
                <!-- 繰り返し開始 -->
                <% if @items.present? %>
                  <% @items.each do |item| %>
                    <tr id=<%= "item#{item.id}" %>>
                      <th scope="row">
                        <%= link_to edit_admin_item_path(item), remote: true, class: "table-innercustom-a area-all" do %>
                        <%= item.id %>
                      <% end %>
                    </th>
                    <td>
                      <%= link_to edit_admin_item_path(item), remote: true, class: "table-innercustom-a area-all" do %>
                      <%= item.item_name %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_admin_item_path(item), remote: true, class: "table-innercustom-a area-all" do %>
                    <%= item.item_price %>
                  <% end %>
                </td>

                <td>
                  <%= link_to edit_admin_item_path(item), remote: true, class: "table-innercustom-a area-all" do %>
                  <% if item.stock.present? %>
                    <%= item.stock.stock_count %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= link_to admin_item_path(item), remote: true, class: "btn btn-outline-light active table-innercustom-a" do %>
                <i class="fas fa-qrcode"></i>
              <% end %>
            </td>
            <td id=<%= "statuschange#{item.id}" %> >
              <% if item.item_active == 0 %>
                <%= link_to '未販売', admin_statuschange_path(item), remote: true, method: :put, class: "btn btn-outline-light active table-innercustom-a text-danger" %>
              <% else %>
                <%= link_to '販売中', admin_statuschange_path(item), remote: true, method: :put, class: "btn active btn-outline-light table-innercustom-a text-success" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
      <!-- 繰り返し終了 -->
    </tbody>
  </table>
  <!-- 商品一覧,table -->
</div>
</div>
<!-- 商品一覧col -->
</div>
<!-- 商品一覧row -->
</div>
<!-- nav-home終了 -->
<!--==================================================================--->

<!-- ========================注文一覧table============================= -->
<!-- nav-profile -->
<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

<!-- 注文一覧table -->
<div class="row">
<div class="col">
<div class="table-responsive">
  <table class="table table-dark table-hover">
    <!-- 注文一覧ヘッダ -->
    <thead>
      <tr class="">
        <th scope="col">#</th>
        <th scope="col">日付</th>
        <th scope="col">名前</th>
        <th scope="col">金額</th>
        <th scope="col">状況</th>
      </tr>
    </thead>
    <!-- 繰り返し -->
    <tbody>
      <!-- 繰り返し開始 -->
      <% if @purchased_histories.present? %>
        <% @purchased_histories.each do |purchased_history| %>
          <% purchased_items = PurchasedItem.where(purchased_history_id: purchased_history.id) %>
            <% final_price = 0 %>
              <% purchased_items.each do |purchased_item| %>
                <% item_price = Item.find(purchased_item.item_id).item_price %>
                  <% tax_included_item_price = (BigDecimal(item_price) * BigDecimal("1.08")).ceil %>
                    <% total_price = tax_included_item_price * purchased_item.item_count.to_i %>
                      <% final_price = final_price + total_price %><% end %>
                      <tr id=<%= "purchased-history#{purchased_history.id}" %>>
                        <th scope="row">
                          <%= link_to admin_purchased_history_path(purchased_history), remote: true, class: "table-innercustom-a area-all" do %>
                          <%= purchased_history.id %>
                        <% end %>
                      </th>
                      <td>
                        <%= link_to admin_purchased_history_path(purchased_history), remote: true, class: "table-innercustom-a area-all" do %>
                        <%= purchased_history.created_at.strftime('%Y年%m月%d日') %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to admin_purchased_history_path(purchased_history), remote: true, class: "table-innercustom-a area-all" do %>
                      <%= purchased_history.user_name %>
                    <% end %>
                  </td>

                  <td>
                    <%= link_to admin_purchased_history_path(purchased_history), remote: true, class: "table-innercustom-a area-all" do %>
                    <%= final_price %>円
                  <% end %>
                </td>
                <td id=<%= "shippingchange#{purchased_history.id}" %> >
                  <% if purchased_history.shipping == 0 %>
                    <%= link_to '未発送', admin_shippingchange_path(purchased_history), remote: true, method: :put, class: "btn btn-outline-light active table-innercustom-a text-danger" %>
                  <% else %>
                    <%= link_to '発送済', admin_shippingchange_path(purchased_history), remote: true, method: :put, class: "btn active btn-outline-light table-innercustom-a text-success" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
          <!-- 繰り返し終了 -->
        </tbody>
      </table>
      <!-- 注文一覧,table -->
    </div>
  </div>
  <!-- 注文一覧col -->
</div>
<!-- 注文一覧row -->
</div>
<!-- nav-profile終了 -->
<!--==================================================================--->

<!-- ========================顧客一覧table============================= -->
<!-- nav-contact -->
<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

<!-- 顧客一覧table -->
<div class="row">
  <div class="col">
    <div class="table-responsive">
      <table class="table table-dark table-hover">
        <!-- 顧客一覧ヘッダ -->
        <thead>
          <tr class="">
            <th scope="col">#</th>
            <th scope="col">名前</th>
            <th scope="col">電話番号</th>
            <th scope="col">メールアドレス</th>
          </tr>
        </thead>
        <tbody>
          <!-- 繰り返し開始 -->
          <% if @purchased_histories.present? %>
            <% @purchased_histories.each do |purchased_history| %>
              <tr id=<%= "purchased-history#{purchased_history.id}" %>>
                <th scope="row">
                  <%= purchased_history.id %>
                </th>
                <td>
                  <%= purchased_history.user_name %>
                </td>
                <td>
                  <%= purchased_history.phone_number %>
                </td>
                <td>
                  <%= purchased_history.email_address %>
                </td>
              </tr>
            <% end %>
          <% end %>
          <!-- 繰り返し終了 -->
        </table>
        <!-- 注文一覧,table -->
      </div>
    </div>
    <!-- 注文一覧col -->
  </div>
  <!-- 注文一覧row -->
</div>
<!-- nav-profile終了 -->
<!--==================================================================--->

<!-- ========================QRtable============================= -->
<!-- nav-qr -->
<div class="tab-pane fade" id="nav-qr" role="tabpanel" aria-labelledby="nav-qr-tab">
  <div class="card-columns">
    <!-- 繰り返し開始 -->
    <% if @items.present? %>
      <% @items.each do |item| %>
        <% if item.item_qr.present? %>
          <% qr  = RQRCode::QRCode.new(item.item_qr) %>
            <% qr_base64 = qr.to_img.resize(300, 300).to_data_url %>
              <div class="card">
                <%= image_tag qr_base64, width: '100%' %>
                <div class="card-body">
                  <h5 class="card-title text-center"><%= item.item_name %></h5>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <!-- 繰り返し終了 -->
      </div>
    </div>
    <!-- nav-qr終了 -->
    <!--==================================================================--->

  </div>
  <!-- ナビ全体 -->
  <!--====================================================================--->

</div>
<!--ダッシュボード全体container-fluid--->
