<!-- Modalボディ部分 -->
<%= form_with scope: :post, url: purchased_histories_path do |form| %>
<div class="modal-body">
  <% @cart.each do |item| %>
    <% tax_included = (BigDecimal(item.item_price) * BigDecimal("1.08")).ceil %>
      <div class="card">
        <div class="cart-del-button">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <i class="far fa-trash-alt"></i>
            </span>
          </button>
        </div>
        <% if item.post_images.present? %>
          <% item.post_images.each do |image| %>
            <%= attachment_image_tag image, :image, :fill, 600, 600, width: "100%" %>
          <% end %>
        <% else %>
          <%= image_tag 'no_image.jpg', size: '200x200', width: "100%" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= item.item_name %></h5>
          <p class="card-text"><%= item.item_description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            1個
            <div class="inline-block"><%= tax_included %></div>円（税込み）
          </li>
          <li class="list-group-item">
            <!-- ネストしたフォーム下部javascript管理 -->
            <%= form.fields_for :purchased_item do |purchased_item| %>
            <%= purchased_item.number_field :item_id, hidden: true, value: item.id %>
            <div class="inline-block count-size-textalign">
              <button id="minus" type="button" class="btn btn-primary rounded-circle p-0" style="width:2rem;height:2rem;">-</button>
              <div id="item_count_div" class="inline-block count-margin">1</div>
              <%= purchased_item.number_field :item_count, hidden: true, id: "item_count_input" %>
              <button id="plus" type="button" class="btn btn-primary rounded-circle p-0" style="width:2rem;height:2rem;">＋</button>
            </div>
          <% end %>
        </li>
        <li class="list-group-item">
          合計
          <div id="total_price_div" class="inline-block"><%= tax_included %></div>円（税込み）
        </li>
      </ul>
    </div>
  <% end %>
</div>
<!-- Modalボディ部分終了 -->

<!-- applepay表示 -->
<hr>
<div class="mx-auto">
  <button class="button-remove-background">
    <span class="apple-pay-size">
      <i class="fab fa-apple-pay"></i>
    </span>
  </button>
</div>
<br>
<!-- Modalフッター部分 -->
<div class="modal-footer">
  <div class="inline-block">
    合計
    <div class="inline-block">350</div>円（税込み）
  </div>
  <%= form.submit class: "btn btn-primary" %>
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
<% end %>

<!-- <script type="text/javascript">
  $("#minus").click(function () {
    const item_price = parseInt(<#%= tax_included %>);
    const item_count_div = $("#item_count_div");
    let item_count = parseInt(item_count_div.text());
    const total_price_div = $("#total_price_div");
    let total_price = parseInt(total_price_div.text());
    const item_count_input = $("#item_count_input");
    if (total_price <= item_price && item_count == 1) {
      console.log("これ以上少なく出来ません");
    } else {
      total_price = total_price - item_price;
      item_count -= 1;
      item_count_div.text(item_count);
      item_count_input.val(item_count);
      total_price_div.text(total_price);
    }
  });
  $("#plus").click(function () {
    const item_price = parseInt(<#%= tax_included %>);
    const item_count_div = $("#item_count_div");
    let item_count = parseInt(item_count_div.text());
    const total_price_div = $("#total_price_div");
    let total_price = parseInt(total_price_div.text());
    const item_count_input = $("#item_count_input");
    total_price = total_price + item_price;
    item_count += 1;
    item_count_div.text(item_count);
    item_count_input.val(item_count);
    total_price_div.text(total_price);
  });
</script> -->
