<p id="notice"><%= notice %></p>

<h1>Purchased Histories</h1>

<table>
  <thead>
    <tr>
      <th>User name</th>
      <th>Postal code</th>
      <th>Address</th>
      <th>Phone number</th>
      <th>Email address</th>
      <th>Shipping</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchased_histories.each do |purchased_history| %>
      <tr>
        <td><%= purchased_history.user_name %></td>
        <td><%= purchased_history.postal_code %></td>
        <td><%= purchased_history.address %></td>
        <td><%= purchased_history.phone_number %></td>
        <td><%= purchased_history.email_address %></td>
        <td><%= purchased_history.shipping %></td>
        <td><%= purchased_history.created_at %></td>
        <td><%= purchased_history.updated_at %></td>
        <td><%= link_to 'Show', purchased_history %></td>
        <td><%= link_to 'Edit', edit_purchased_history_path(purchased_history) %></td>
        <td><%= link_to 'Destroy', purchased_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchased History', new_purchased_history_path %>
