<!-- ===============================ヘッダー============================== -->
<header class="sticky-top">
  <nav class="navbar navbar-light">
    <a class="navbar-brand">
      <h1>MARUMI</h1>
    </a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
</header>
<!-- ==================================================================== -->

<!-- ===============================メールアイコン============================== -->
<a class="mail-icon" href="mailto:iamaama703@gmail.com?subject=お問い合わせ&body=お問い合わせ有難う御座います。%0D%0Aご自由にお問い合わせ内容をご記入下さい。">
  <span class="mail-icon-size">
    <i class="far fa-envelope"></i>
  </span>
</a>
<!-- ==================================================================== -->

<!-- =============================左下のカート表示============================ -->
<section class="fixed-bottom cart-section-position">
  <button type="button" class="cart-list-position button-remove-background" data-toggle="modal" data-target="#CartModalCenter">
    <div class="cart-item-list">
      <div class="cart-image-size"><%= image_tag "AdobeStock_185627039_Preview.jpeg", class: "rounded-circle shadow circle-color"%></div>
      <div class="cart-item-list">
        <div class="cart-image-size"><%= image_tag "AdobeStock_185627039_Preview.jpeg", class: "rounded-circle shadow circle-color"%></div>
        <div class="cart-item-list">
          <div class="cart-image-size"><%= image_tag "AdobeStock_185627039_Preview.jpeg", class: "rounded-circle shadow circle-color"%></div>
          <div class="cart-item-list">
            <div class="cart-image-size"><%= image_tag "AdobeStock_185627039_Preview.jpeg", class: "rounded-circle shadow circle-color"%></div>
            <div class="cart-item-list">
              <div class="cart-image-size"><%= image_tag "AdobeStock_185627039_Preview.jpeg", class: "rounded-circle shadow circle-color"%></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </button>
</section>
<!-- ==================================================================== -->

<!-- ==============================商品詳細モーダル表示============================ -->
<!-- モーダル表示ボタンメモ -->
<button type="button" class="btn btn-primary display-none" data-toggle="modal" data-target="#ItemModalCenter">
  Launch demo modal
</button>

<!-- Modal部分 -->
<div class="modal fade" id="ItemModalCenter" tabindex="-1" role="dialog" aria-labelledby="ItemModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <!-- Modalヘッダー部分 -->
      <div class="modal-header">
        <h5 class="modal-title" id="ItemModalCenterTitle">商品詳細</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="ShowItem"></div>
    </div>
    <!-- Modal部分終了3 -->
  </div>
  <!-- Modal部分終了2 -->
</div>
<!-- Modal部分終了1 -->
<!-- ===================================================================== -->

<!-- ========================カート内容モーダル表示========================= -->
<!-- モーダル表示ボタンメモ -->
<button type="button" class="btn btn-primary display-none" data-toggle="modal" data-target="#CartModalCenter">
  Launch demo modal
</button>
<!-- Modal部分 -->
<div class="modal fade" id="CartModalCenter" tabindex="-1" role="dialog" aria-labelledby="CartModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- Modalヘッダー部分 -->
      <div class="modal-header">
        <h5 class="modal-title" id="CartModalCenterTitle">カート内容</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Modalボディ部分 -->
      <div class="modal-body">
        <div class="card">
          <div class=" cart-del-button">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <i class="far fa-trash-alt"></i>
              </span>
            </button>
          </div>
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", width: "100%" %>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              1個
              <div class="inline-block">350</div>円（税込み）
            </li>
            <li class="list-group-item">
              <div class="inline-block count-size-textalign">
                <i class="fas fa-minus-circle"></i>
                <div class="inline-block count-margin">3</div>
                <i class="fas fa-plus-circle"></i>
              </div>
            </li>
            <li class="list-group-item">
              合計
              <div class="inline-block">350</div>円（税込み）
            </li>
          </ul>
        </div>

        <div class="card">
          <div class=" cart-del-button">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <i class="far fa-trash-alt"></i>
              </span>
            </button>
          </div>
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", width: "100%" %>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              1個
              <div class="inline-block">350</div>円（税込み）
            </li>
            <li class="list-group-item">
              <div class="inline-block count-size-textalign">
                <i class="fas fa-minus-circle"></i>
                <div class="inline-block count-margin">3</div>
                <i class="fas fa-plus-circle"></i>
              </div>
            </li>
            <li class="list-group-item">
              合計
              <div class="inline-block">350</div>円（税込み）
            </li>
          </ul>
        </div>

        <div class="card">
          <div class=" cart-del-button">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <i class="far fa-trash-alt"></i>
              </span>
            </button>
          </div>
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", width: "100%" %>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              1個
              <div class="inline-block">350</div>円（税込み）
            </li>
            <li class="list-group-item">
              <div class="inline-block count-size-textalign">
                <i class="fas fa-minus-circle"></i>
                <div class="inline-block count-margin">3</div>
                <i class="fas fa-plus-circle"></i>
              </div>
            </li>
            <li class="list-group-item">
              合計
              <div class="inline-block">350</div>円（税込み）
            </li>
          </ul>
        </div>

        <div class="card">
          <div class=" cart-del-button">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <i class="far fa-trash-alt"></i>
              </span>
            </button>
          </div>
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", width: "100%" %>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              1個
              <div class="inline-block">350</div>円（税込み）
            </li>
            <li class="list-group-item">
              <div class="inline-block count-size-textalign">
                <i class="fas fa-minus-circle"></i>
                <div class="inline-block count-margin">3</div>
                <i class="fas fa-plus-circle"></i>
              </div>
            </li>
            <li class="list-group-item">
              合計
              <div class="inline-block">350</div>円（税込み）
            </li>
          </ul>
        </div>
      </div>
      <!-- Modalボディ部分終了 -->

      <!-- applepay表示 -->
      <hr>
      <div class="mx-auto">
        <button class="button-remove-background">
          <span class="apple-pay-size">
            <i class="fab fa-apple-pay"></i>
          </span>
        </button>
      </div>
      <br>
      <!-- Modalフッター部分 -->
      <div class="modal-footer">
        <div class="inline-block">
          合計
          <div class="inline-block">350</div>円（税込み）
        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- Modal部分終了3 -->
  </div>
  <!-- Modal部分終了2 -->
</div>
<!-- Modal部分終了1 -->
<!-- ===================================================================== -->

<!-- ========================管理者カート内容モーダル表示========================= -->
<!-- モーダル表示ボタンメモ -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AdminCartModal" hidden="hidden">
  Launch demo modal
</button>
<!-- Modal部分 -->
<div class="modal fade" id="AdminCartModal" tabindex="-1" role="dialog" aria-labelledby="AdminCartModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <!-- Modalヘッダー部分 -->
      <div class="modal-header">
        <h5 class="modal-title" id="AdminCartModalTitle">管理者カート内容</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Modalボディ部分 -->
      <div class="modal-body">
        <div class="card">
          <div class=" cart-del-button">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <i class="far fa-trash-alt"></i>
              </span>
            </button>
          </div>
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", width: "100%" %>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              1個
              <div class="inline-block">350</div>円（税込み）
            </li>
            <li class="list-group-item">
              <div class="inline-block count-size-textalign">
                <i class="fas fa-minus-circle"></i>
                <div class="inline-block count-margin">3</div>
                <i class="fas fa-plus-circle"></i>
              </div>
            </li>
            <li class="list-group-item">
              合計
              <div class="inline-block">350</div>円（税込み）
            </li>
          </ul>
        </div>

        <div class="card">
          <div class=" cart-del-button">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <i class="far fa-trash-alt"></i>
              </span>
            </button>
          </div>
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", width: "100%" %>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              1個
              <div class="inline-block">350</div>円（税込み）
            </li>
            <li class="list-group-item">
              <div class="inline-block count-size-textalign">
                <i class="fas fa-minus-circle"></i>
                <div class="inline-block count-margin">3</div>
                <i class="fas fa-plus-circle"></i>
              </div>
            </li>
            <li class="list-group-item">
              合計
              <div class="inline-block">350</div>円（税込み）
            </li>
          </ul>
        </div>

        <div class="card">
          <div class=" cart-del-button">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <i class="far fa-trash-alt"></i>
              </span>
            </button>
          </div>
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", width: "100%" %>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              1個
              <div class="inline-block">350</div>円（税込み）
            </li>
            <li class="list-group-item">
              <div class="inline-block count-size-textalign">
                <i class="fas fa-minus-circle"></i>
                <div class="inline-block count-margin">3</div>
                <i class="fas fa-plus-circle"></i>
              </div>
            </li>
            <li class="list-group-item">
              合計
              <div class="inline-block">350</div>円（税込み）
            </li>
          </ul>
        </div>

        <div class="card">
          <div class=" cart-del-button">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                <i class="far fa-trash-alt"></i>
              </span>
            </button>
          </div>
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", width: "100%" %>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              1個
              <div class="inline-block">350</div>円（税込み）
            </li>
            <li class="list-group-item">
              <div class="inline-block count-size-textalign">
                <i class="fas fa-minus-circle"></i>
                <div class="inline-block count-margin">3</div>
                <i class="fas fa-plus-circle"></i>
              </div>
            </li>
            <li class="list-group-item">
              合計
              <div class="inline-block">350</div>円（税込み）
            </li>
          </ul>
        </div>
      </div>
      <!-- Modalボディ部分終了 -->
      <!-- 総合計表示 -->
      <hr>
      <div class="mx-auto">
        <div class="inline-block">
          合計
          <div class="inline-block">350</div>円（税込み）
        </div>
      </div>
      <br>
      <!-- Modalフッター部分 -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">在庫更新</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- Modal部分終了3 -->
  </div>
  <!-- Modal部分終了2 -->
</div>
<!-- Modal部分終了1 -->
<!-- ===================================================================== -->

<!-- ============================お土産屋イメージ=========================== -->
<!-- 背景 -->
<div class="container-fluid background-hight">

  <div class="row  justify-content-center top-margin">
    <div class="col-sm-6">
      <div class="container">
        <div class="row">
          <div class="col-5 d-flex align-items-center">
            <%= image_tag "AdobeStock_116377647_Preview.jpeg", class: "w-100 rounded-circle shadow circle-color" %>
          </div>
          <div class="col-7 d-flex align-items-center">
            <div class="align-self-end">
              <p>MARUMI</p>
              <p>日本の文化という</p>
              <p>ぬくもりを扱う場所。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4"></div>
    <!-- 右余白 -->
  </div>

  <div class="row  justify-content-center top-margin">
    <div class="col-sm-4"></div>
    <!-- 左余白 -->
    <div class="col-sm-6">
      <div class="container">
        <div class="row">
          <div class="col-7 d-flex align-items-center justify-content-end">
            <div class="align-self-end text-indent-right">
              <p>MARUMI</p>
              <p>日本の宝物を</p>
              <p>国に持ち帰る場所。</p>
            </div>
          </div>
          <div class="col-5 d-flex align-items-center">
            <%= image_tag "AdobeStock_68581092_Preview.jpeg", class: "w-100 rounded-circle shadow circle-color" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row  justify-content-center top-margin">
    <div class="col-sm-6">
      <div class="container">
        <div class="row">
          <div class="col-5 d-flex align-items-center">
            <%= image_tag "AdobeStock_78206029_Preview.jpeg", class: "w-100 rounded-circle shadow circle-color" %>
          </div>
          <div class="col-7 d-flex align-items-center">
            <div class="align-self-end">
              <p>MARUMI</p>
              <p>友人に日本の</p>
              <p>おもてなしを配る場所。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4"></div>
    <!-- 右余白 -->
  </div>

  <div class="row  justify-content-center top-margin">
    <div class="col-sm-4"></div>
    <!-- 左余白 -->
    <div class="col-sm-6">
      <div class="container">
        <div class="row">
          <div class="col-7 d-flex align-items-center justify-content-end">
            <div class="align-self-end">
              <p>TAKUYA AMANO</p>
              <p>・PORTFOLIO</p>
              <p>・CONCEPT</p>
            </div>
          </div>
          <div class="col-5 d-flex align-items-center">
            <%= image_tag "AdobeStock_185627039_Preview.jpeg", class: "w-100 rounded-circle shadow circle-color" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ================================================================== -->

  <!-- ==========================ポートフォリオ部分========================== -->
  <!-- 背景 -->
  <div class="top-margin background-hight background-shape background-portforio">

    <div class="row justify-content-start">
      <div class="col">
        <h2 class="top-margin-title">PORTFOLIO</h2>
        <p class="text-center portforio-text-style">はじめてのポートフォリオ制作です。<br>
          作業期間は設計含め1ヶ月間で完成させました。<br>
          Ruby on Railsで作成しており学び始めて<br>
          3ヶ月目から作成しております。<br>
          プログラミングが毎日楽しく、<br>
          このポートフォリオも夢中で作っておりました。<br>
          楽しんでいただければ幸いです。</p>
      </div>
    </div>
    <!-- ================================================================== -->

    <!-- ==========================コンセプト部分========================== -->
    <!-- 背景 -->
    <div class="top-margin background-hight background-shape background-portforio">
      <div class="row justify-content-start">
        <div class="col">
          <h2 class="top-margin-title">CONCEPT</h2>
          <p class="text-center portforio-text-style">いかにユーザーが迷わずかってくれるか<br>
            を目標に作成しています。<br>
            購入は3タップで行えます。<br>
            画面遷移は極力行っていません。<br>
            ユーザーを離れさせず購入まで誘う<br>
            そんなサイトを目指しています。<br>
            デザインは勉強中です。</p>
        </div>
      </div>
      <!-- =============================================================== -->

      <!-- ==========================お土産一覧========================== -->
      <!-- 背景 -->
      <div class="top-margin background-hight background-shape background-item">

        <div class="row justify-content-start">
          <div class="col-sm-4">
            <h2 class="top-margin-title">お土産</h2>
          </div>
        </div>

        <div class="row">
          <% @items.each do |item| %>
            <%= link_to item, class: "col-6 col-md-3 top-margin-item button-remove-background", remote: true do %>
            <% if item.post_images.present? %>
              <% item.post_images.each do |image| %>
                <%= attachment_image_tag image, :image, :fill, 400, 400, class: "rounded-circle shadow circle-color mx-auto d-block width-change-item" %>
              <% end %>
            <% else %>
              <%= image_tag 'no_image.jpg', size: '200x200', class: "rounded-circle shadow circle-color mx-auto d-block width-change-item" %>
            <% end %>
          <% end %>
        <% end %>
        <button type="button" class="col-6 col-md-3 top-margin-item button-remove-background" data-toggle="modal" data-target="#ItemModalCenter">
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", class: "rounded-circle shadow circle-color mx-auto d-block width-change-item" %>
        </button>
        <button type="button" class="col-6 col-md-3 top-margin-item button-remove-background" data-toggle="modal" data-target="#AdminCartModal">
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", class: "rounded-circle shadow circle-color mx-auto d-block width-change-item" %>
        </button>
        <button type="button" class="col-6 col-md-3 top-margin-item button-remove-background" data-toggle="modal" data-target="#ItemModalCenter">
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", class: "rounded-circle shadow circle-color mx-auto d-block width-change-item" %>
        </button>
        <button type="button" class="col-6 col-md-3 top-margin-item button-remove-background" data-toggle="modal" data-target="#ItemModalCenter">
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", class: "rounded-circle shadow circle-color mx-auto d-block width-change-item" %>
        </button>
        <button type="button" class="col-6 col-md-3 top-margin-item button-remove-background" data-toggle="modal" data-target="#ItemModalCenter">
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", class: "rounded-circle shadow circle-color mx-auto d-block width-change-item" %>
        </button>
        <button type="button" class="col-6 col-md-3 top-margin-item button-remove-background" data-toggle="modal" data-target="#ItemModalCenter">
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", class: "rounded-circle shadow circle-color mx-auto d-block width-change-item" %>
        </button>
        <button type="button" class="col-6 col-md-3 top-margin-item button-remove-background" data-toggle="modal" data-target="#ItemModalCenter">
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", class: "rounded-circle shadow circle-color mx-auto d-block width-change-item" %>
        </button>
        <button type="button" class="col-6 col-md-3 top-margin-item button-remove-background" data-toggle="modal" data-target="#ItemModalCenter">
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", class: "rounded-circle shadow circle-color mx-auto d-block width-change-item" %>
        </button>
        <button type="button" class="col-6 col-md-3 top-margin-item button-remove-background" data-toggle="modal" data-target="#ItemModalCenter">
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", class: "rounded-circle shadow circle-color mx-auto d-block width-change-item" %>
        </button>
        <button type="button" class="col-6 col-md-3 top-margin-item button-remove-background" data-toggle="modal" data-target="#ItemModalCenter">
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", class: "rounded-circle shadow circle-color mx-auto d-block width-change-item" %>
        </button>
        <button type="button" class="col-6 col-md-3 top-margin-item button-remove-background" data-toggle="modal" data-target="#ItemModalCenter">
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", class: "rounded-circle shadow circle-color mx-auto d-block width-change-item" %>
        </button>
        <button type="button" class="col-6 col-md-3 top-margin-item button-remove-background" data-toggle="modal" data-target="#ItemModalCenter">
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", class: "rounded-circle shadow circle-color mx-auto d-block width-change-item" %>
        </button>
        <button type="button" class="col-6 col-md-3 top-margin-item button-remove-background" data-toggle="modal" data-target="#ItemModalCenter">
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", class: "rounded-circle shadow circle-color mx-auto d-block width-change-item" %>
        </button>
        <button type="button" class="col-6 col-md-3 top-margin-item button-remove-background" data-toggle="modal" data-target="#ItemModalCenter">
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", class: "rounded-circle shadow circle-color mx-auto d-block width-change-item" %>
        </button>
        <button type="button" class="col-6 col-md-3 top-margin-item button-remove-background" data-toggle="modal" data-target="#ItemModalCenter">
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", class: "rounded-circle shadow circle-color mx-auto d-block width-change-item" %>
        </button>
        <button type="button" class="col-6 col-md-3 top-margin-item button-remove-background" data-toggle="modal" data-target="#ItemModalCenter">
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", class: "rounded-circle shadow circle-color mx-auto d-block width-change-item" %>
        </button>
        <button type="button" class="col-6 col-md-3 top-margin-item button-remove-background" data-toggle="modal" data-target="#ItemModalCenter">
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", class: "rounded-circle shadow circle-color mx-auto d-block width-change-item" %>
        </button>
        <button type="button" class="col-6 col-md-3 top-margin-item button-remove-background" data-toggle="modal" data-target="#ItemModalCenter">
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", class: "rounded-circle shadow circle-color mx-auto d-block width-change-item" %>
        </button>
        <button type="button" class="col-6 col-md-3 top-margin-item button-remove-background" data-toggle="modal" data-target="#ItemModalCenter">
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", class: "rounded-circle shadow circle-color mx-auto d-block width-change-item" %>
        </button>
        <button type="button" class="col-6 col-md-3 top-margin-item button-remove-background" data-toggle="modal" data-target="#ItemModalCenter">
          <%= image_tag "AdobeStock_185627039_Preview.jpeg", class: "rounded-circle shadow circle-color mx-auto d-block width-change-item" %>
        </button>
      </div>
      <!-- ============================================================== -->

    </div>
    <!-- お土産一覧背景 -->
  </div>
  <!-- コンセプト部分背景 -->
</div>
<!-- ポートフォリオ部分背景 -->
</div>
<!-- お土産屋イメージ背景 -->

<script type="text/javascript">
// ==========モーダル制御、URLの最後に#exampleを付けるとそのモーダルが開く=============
$(function () {
  if (location.hash) {
    var target = location.hash;
    console.log(target);
    $(target).modal('show')
  }
});
// ===========================================================================
</script>

<h1>ログインアプリ</h1>

<% if admin_signed_in? %>
<!-- ユーザーがログインしているか調べる -->
<!-- ユーザーがログインしていた時の処理 -->

<h4>
  メールアドレス：
  <%= current_admin.email %>
</h4>
<h2>
  現在
  <%= current_admin.admin_name %>
  さんがログインしています
</h2>
<!-- ここを追加します -->
<%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
<!-- ログアウトをする -->
<% else %>
<!-- ユーザーがログインしていなかった時の処理 -->
<h2>
  現在ログインしていません
</h2>
<%= link_to "ログイン", new_admin_session_path, class: 'post' %>
<!-- ログイン画面に移行する -->
<%= link_to "新規登録", new_admin_registration_path, class: 'post' %>
<!-- 新規登録画面に移行する -->
<% end %>
<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
<thead>
  <tr>
    <th>Item name</th>
    <th>Item description</th>
    <th>Item image</th>
    <th>Item qr</th>
    <th>Item price</th>
    <th>Item active</th>
    <th colspan="3"></th>
  </tr>
</thead>

<tbody>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.item_name %></td>
      <td><%= item.item_description %></td>
      <td>
        <% if item.post_images.present? %>
          <% item.post_images.each do |image| %>
            <%= attachment_image_tag image, :image, :fill, 200, 200 %>
          <% end %>
        <% else %>
          <%= image_tag 'no_image.jpg', size: '200x200' %>
        <% end %>
      </td>
      <td><%= item.item_qr %></td>
      <td><%= item.item_price %></td>
      <td><%= item.item_active %></td>
      <td><%= link_to 'Show', item %></td>
      <td><%= link_to 'Edit', edit_item_path(item) %></td>
      <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
