<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title>お土産屋ポートフォリオ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <!-- ===============================ヘッダー============================== -->
    <header class="sticky-top">
      <nav class="navbar navbar-light">
        <a class="navbar-brand">
          <h1>AMAMIAGE</h1>
        </a>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
    </header>
    <!-- ==================================================================== -->

    <!-- ===============================メールアイコン============================== -->
    <a class="mail-icon" href="mailto:iamaama703@gmail.com?subject=お問い合わせ&body=お問い合わせ有難う御座います。%0D%0Aご自由にお問い合わせ内容をご記入下さい。">
      <span class="mail-icon-size">
        <i class="far fa-envelope"></i>
      </span>
    </a>
    <!-- ==================================================================== -->
    <%= yield %>
  </body>
</html>
